@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Summary</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var weatherForecast in Model.WeatherForecasts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => weatherForecast.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weatherForecast.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => weatherForecast.TemperatureC)               
            </td>
             <td>
                @Html.DisplayFor(modelItem => weatherForecast.TemperatureF)               
            </td>
        </tr>
    }
    </tbody>
</table>
